<section class="container mt-5">
  <div class="row g-4">
    <div class="col-12 col-md-3 p-3 filtros">
    </div>
    <div class="col-12 col-md-9 p-3 series">
      <!-- lista series  -->
      <div class="row g-4">
        <article class="col-6 col-md-4" *ngFor="let serie of arrSeries">
          <p>{{serie.id}}</p>
          <p>{{serie.titulo}}</p>
          <p>{{serie.creador}}</p>
        </article>
        <a class="btn btn-primary mb-5" [routerLink]="['/listaSeries']">Ver serie</a>
      </div>
    </div>

  </div>




</section>