.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.menu li{
    width: 200px;
    background-color: rgb(153, 44, 196);
    border: 1px solid rgb(243, 53, 243);
    color: azure;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}


.menu li:hover{
    background-color: rgb(255, 74, 195);
}
