<div class="container">
    <ul class="menu mt-3">

        <li [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Menu
        </li>

        <li [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            App
        </li>

        <li [routerLink]="['/']" routerLinkActive="active">
            Molonga
        </li>

        <li [routerLink]="['/']" routerLinkActive="active">
            🚀💗 By APOLO💗🚀
        </li>


    </ul>
</div>