.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif
}

.menu li{
    width: 200px;
    /* height: 30px; */
    background-color: rgb(132, 9, 181);
    border: 1px solid rgb(243, 53, 243);
    color: azure;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}


.menu li:hover{
    background-color: rgb(243, 26, 189);
}

/*  El li activo tiene estas clases */
.menu li.active{ 
    background-color: rgb(226, 27, 113);
    color: white;
}